Client/Web References/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="isCPFValido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isCPFValidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isCPFValidoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcularIR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="salario" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcularIRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calcularIRResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcularFGTS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="salario" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcularFGTSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calcularFGTSResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcularINSS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="salario" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcularINSSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calcularINSSResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="isCPFValidoSoapIn">
    <wsdl:part name="parameters" element="tns:isCPFValido" />
  </wsdl:message>
  <wsdl:message name="isCPFValidoSoapOut">
    <wsdl:part name="parameters" element="tns:isCPFValidoResponse" />
  </wsdl:message>
  <wsdl:message name="calcularIRSoapIn">
    <wsdl:part name="parameters" element="tns:calcularIR" />
  </wsdl:message>
  <wsdl:message name="calcularIRSoapOut">
    <wsdl:part name="parameters" element="tns:calcularIRResponse" />
  </wsdl:message>
  <wsdl:message name="calcularFGTSSoapIn">
    <wsdl:part name="parameters" element="tns:calcularFGTS" />
  </wsdl:message>
  <wsdl:message name="calcularFGTSSoapOut">
    <wsdl:part name="parameters" element="tns:calcularFGTSResponse" />
  </wsdl:message>
  <wsdl:message name="calcularINSSSoapIn">
    <wsdl:part name="parameters" element="tns:calcularINSS" />
  </wsdl:message>
  <wsdl:message name="calcularINSSSoapOut">
    <wsdl:part name="parameters" element="tns:calcularINSSResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="isCPFValido">
      <wsdl:input message="tns:isCPFValidoSoapIn" />
      <wsdl:output message="tns:isCPFValidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calcularIR">
      <wsdl:input message="tns:calcularIRSoapIn" />
      <wsdl:output message="tns:calcularIRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calcularFGTS">
      <wsdl:input message="tns:calcularFGTSSoapIn" />
      <wsdl:output message="tns:calcularFGTSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calcularINSS">
      <wsdl:input message="tns:calcularINSSSoapIn" />
      <wsdl:output message="tns:calcularINSSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isCPFValido">
      <soap:operation soapAction="http://tempuri.org/isCPFValido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcularIR">
      <soap:operation soapAction="http://tempuri.org/calcularIR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcularFGTS">
      <soap:operation soapAction="http://tempuri.org/calcularFGTS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcularINSS">
      <soap:operation soapAction="http://tempuri.org/calcularINSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isCPFValido">
      <soap12:operation soapAction="http://tempuri.org/isCPFValido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcularIR">
      <soap12:operation soapAction="http://tempuri.org/calcularIR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcularFGTS">
      <soap12:operation soapAction="http://tempuri.org/calcularFGTS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcularINSS">
      <soap12:operation soapAction="http://tempuri.org/calcularINSS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:3184/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:3184/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>